<ion-header>
  <ion-toolbar>
    <ion-title>Toscana Pizzaria</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-list-header color="primary">Sabores</ion-list-header>

    <ion-list>

    <ion-item>
      <ion-label>Abobrinha</ion-label>
      <ion-toggle color="primary"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label>Calabresa</ion-label>
      <ion-toggle color="primary"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label>Portuguesa</ion-label>
      <ion-toggle color="primary"></ion-toggle>
    </ion-item>

  </ion-list>

  <ion-list-header color="secondary">Adicionais</ion-list-header>

    <ion-list>

    <ion-item>
      <ion-label>Bacon</ion-label>
      <ion-toggle color="secondary"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label>Cheddar</ion-label>
      <ion-toggle color="secondary"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label>Queijo-cremoso</ion-label>
      <ion-toggle color="secondary"></ion-toggle>
    </ion-item>
  
    </ion-list>

    <ion-list-header color="danger">Bebidas</ion-list-header>

    <ion-list>

    <ion-item>
      <ion-label>Água</ion-label>
      <ion-toggle color="danger"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label>Refrigerante</ion-label>
      <ion-toggle color="danger"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label>Suco De Laranja</ion-label>
      <ion-toggle color="danger"></ion-toggle>
    </ion-item>
  
    </ion-list>

    <ion-button expand="full">Finalizar Pedido</ion-button>

</ion-content>